body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.link-voltar{
    align-self: flex-start;
    text-decoration: none;
    color: rgb(33, 33, 201);
}

img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.img-senai{
    width: 130px;
    height: 40px;
}