.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tabelaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tabela {
    min-width: 700px;
}

.botaoPesquisar {
    font-size: 25;
}