.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card{
  width: 240px;
  height: 300px;
  background-color: rgba(179, 221, 247, 0.4);
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgba(179, 221, 247, 0.7);
}