:root { 
  --cor-principal: rgb(180, 0, 0);
  --cor-secundaria: rgb(240, 240, 240);  
}

* {
	font-family: Maiandra GD, Calibri, Arial;
  text-shadow: 3px 3px 2px lightgray;
}

main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid var(--cor-principal);
    border-radius: 5px;
    width: 500px;
    color: var(--cor-principal);
    background: var(--cor-secundaria);
}

button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 3px;
    color: white;
    text-shadow: none;
    font-size: 1rem;
}

button:hover {
    background-color: black;
    cursor: pointer
}

textarea, input, select {
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    border-color: white;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 3px 3px 4px lightgray;
    border: 1px solid lightgray;
    outline: 0;
} 