* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav-topo {
    background-color: rgb(80, 80, 80);
    height: 60px;
}

.nome {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
}

.nome:hover {
    color: black;
    transition: 0.3s;
    text-decoration: none;
}

.img-perfil {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.li-perfil a {
    border-radius: 15px;
}

.li-perfil a:hover {
    background-color: white;
    border-radius: 15px;
    transition: 0.3s;
}

.menu {
    position: absolute;
    background-color: rgb(80, 80, 80);
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    right: 0%;
    visibility: hidden;
    z-index: 2;
    width: 200px;
}

.lista_menu {
    list-style: none;
}

.lista_menu li {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 10px;
}

.lista_menu li a {
    text-decoration: none;
    color: black;
}

.lista_menu li a:hover {
    color: rgb(134, 134, 134);
    transition: 0.3s;
}

section {
    width: 100%;
    height: 70vh;
}

.titulo {
    text-align: center;
    padding: 20px;
    height: 10%;
}

.titulo h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteudo {
    padding: 20px;
    height: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parallax-1 {
    background-attachment: fixed;
    background-size: cover;
    background-image: url(img/relogio_velho.jpg);
}

.parallax-2 {
    background-attachment: fixed;
    background-size: cover;
    background-image: url(img/relogio_simples.jpg);
}

.parallax-3 {
    background-attachment: fixed;
    background-size: cover;
    background-image: url(img/relogio_futurista.jpg);
}

.parallax-4 {
    background-attachment: fixed;
    background-size: cover;
    background-image: url(img/relogio2.webp);
}

.rodape {
    background-color: rgb(80, 80, 80);
    height: 60px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media (max-width: 600px) {
    .nav-topo {
        height: 50px;
    }

    .nome {
        font-size: 16px;
    }

    .img-perfil {
        width: 30px;
        height: 30px;
    }

    .menu {
        width: 150px;
        height: auto;
    }

    .conteudo {
        height: 45vh;
    }

    .parallax-1 {
        background-attachment: fixed;
        background-size: cover;
        background-position: 40%;
        background-image: url(img/relogio_velho.jpg);
    }

    .parallax-2 {
        background-attachment: fixed;
        background-size: cover;
        background-position: 5%;
        background-image: url(img/relogio_simples.jpg);
    }

    .parallax-3 {
        background-attachment: fixed;
        background-size: cover;
        background-position: 50%;
        background-image: url(img/relogio_futurista.jpg);
    }

    .parallax-4 {
        background-attachment: fixed;
        background-size: cover;
        background-position: 50%;
        background-image: url(img/relogio2.webp);
    }
}

@media (min-width: 600.05px) and (max-width: 1200px) {
    .parallax-1 {
        background-attachment: fixed;
        background-size: cover;
        background-position: 40%;
        background-image: url(img/relogio_velho.jpg);
    }

    .parallax-3 {
        background-attachment: fixed;
        background-size: cover;
        background-position: 50%;
        background-image: url(img/relogio_futurista.jpg);
    }

    .parallax-4 {
        background-attachment: fixed;
        background-size: cover;
        background-position: 50%;
        background-image: url(img/relogio2.webp);
    }
}