body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222, 222, 222);
    width: 20%;
    margin-top: 3%;
    border-radius: 15px;
    padding: 20px 50px;
    box-shadow: 5px 5px 5px rgb(125, 125, 125);
}

.label-localizacao {
    align-self: flex-start;
    font-size: 20px;
}

.input-localizacao {
    width: 91%;
    margin-bottom: 10%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1.5px solid rgb(0, 0, 0);
    transition: 0.4s;
}

.input-localizacao:hover, .input-localizacao:focus {
    border: 1.5px solid rgb(0, 173, 173);
    outline: none;
}

.textarea-localizacao {
    max-width: 91%;
    min-width: 91%;
    max-height: 150px;
    min-height: 150px;
    margin-bottom: 10%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1.5px solid rgb(0, 0, 0);
    transition: 0.4s;
}

.textarea-localizacao:hover, .textarea-localizacao:focus {
    border: 1.5px solid rgb(0, 173, 173);
    outline: none;
}

.submit-localizacao {
    width: 90%;
    margin-top: 5%;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1.5px solid black;
    transition: 0.4s;
}

.submit-localizacao:hover {
    border: 1.5px solid rgb(0, 173, 173);
    color: rgb(0, 173, 173);
}

.sucesso{
    color: rgb(0, 187, 0);
    font-size: 18px;
}

.erro{
    color: red;
    font-size: 18px;
}